body {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.profileImg1 {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
}


#jumbotron2 { 
    background-size: 100% auto;
    width: 108%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    transform: translate(-3%,0);
}
